{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>NewsEveryDAy - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
  <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="{% static 'assets/css/variables.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: ZenBlog
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href=" / " class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>NewsEveryDay</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href=" / ">Home</a></li>
          <li><a href="category">Make A Donation</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="#" class="img-bg d-flex align-items-end" style="background-image: url('static/assets/img/post-slide-1.jpg');">
                    <div class="img-bg-inner">
                      <h2>The Best Website To Get The Orginic News And Informations</h2>
                      <p>NewsEveryDAy.</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="img-bg d-flex align-items-end" style="background-image: url('static/assets/img/post-slide-2.jpg');">
                    <div class="img-bg-inner">
                      <h2>Get The Latest Sport News, Reactions and And Analysis</h2>
                      <p></p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="img-bg d-flex align-items-end" style="background-image: url('static/assets/img/post-slide-3.jpg');">
                    <div class="img-bg-inner">
                      <h2>We Are Well Informed With Our Upto Date Business Market Analysis And Informations</h2>
                      <p></p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="img-bg d-flex align-items-end" style="background-image: url('static/assets/img/post-sq-1.jpg');">
                    <div class="img-bg-inner">
                      <h2>NewsEveryDay</h2>
                      <p>We will Get You That Informations Goiong On Around The World</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->

    <!-- ======= Post Grid Section ======= -->   
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-lg-4">
            {% for news in news reversed %}
            <div class="post-entry-1 lg">
              <a href="/news/{{news.i}}"><dimg src="{{ news.image.url }}" alt="" class="img-fluid"></a>
              <div class="post-meta"><span class="date">{{ news.category}}</span> <span class="mx-1">&bullet;</span> <span>{{ news.storydate_posted}}</span></div>
              <h2><a href="/news/{{news.id}}">{{ news.story_title}}</a></h2>
              <p class="mb-4 d-block">{{ news.story_body|truncatewords:20}}</p>
            </div>
            {% endfor %}

          </div>
          <div class="col-lg-8">
            <div class="row g-5">
              {% for news in news reversed %}
              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href="/news/{{news.id}}"><img src="{{ news.image.url }}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{ news.category}}</span> <span class="mx-1">&bullet;</span> <span>{{ news.storydate_posted}}</span></div>
                  <h2><a href="/news/{{news.id}}">{{ news.story_title}}</a></h2>
                </div>               
              </div>
              {% endfor %}
              

              <!-- Trending Section -->
              <div class="col-lg-4">
                <div class="trending">
                  <h3>TrendingNews</h3>
                  {% for news in news reversed %}
                  <ul class="trending-post">
                    <li>
                      <a href="/news/{{news.id}}">
                        <span class="number">1</span>
                        <h3>{{ news.story_title}}</h3>
                        <span class="author">{{ news.storydate_posted}}</span>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                

              </div> <!-- End Trending Section -->
            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </section> <!-- End Post Grid Section -->

    <!-- ======= Culture Category Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Sport</h2>
          <div><a href="" class="more">NewEveryDay</a></div>
        </div>

        <div class="row">
          <div class="col-md-9">
            {% for sport in sport reversed %}
            <div class="d-lg-flex post-entry-2">
              <a href="/sport/{{sport.id}}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                <img src="{% static 'assets/img/post-landscape-1.jpg' %}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">{{ sport.category}}</span> <span class="mx-1">&bullet;</span> <span>{{ sport.storydate_posted}}</span></div>
                <h3><a href="/sport/{{sport.id}}">{{ sport.story_title}}</a></h3>
                <p>{{ sport.story_body|truncatewords:20}}</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{{ sport.image.url }}" alt="" class="img-fluid"></div>
                  <div class="name">
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            <div class="row">
              <div class="col-lg-4">
                {% for sport in sport reversed %}
                <div class="post-entry-1 border-bottom">
                  <a href="/sport/{{sport.id}}"><img src="{{ sport.image.url }}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{ sport.category}}</span> <span class="mx-1">&bullet;</span> <span>{{ sport.storydate_posted}}</span></div>
                  <h2 class="mb-2"><a href="">{{ sport.story_title}}</a></h2>
                  <p class="mb-4 d-block">{{ sport.story_body|truncatewords:20}}</p>
                </div>
                {% endfor %}
            </div>
          </div>
           
          {% for sport in sport reversed %}
          <div class="col-md-3">
            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>{{ sport.storydate_posted}}</span></div>
              <h2 class="mb-2"><a href="/sport/{{sport.id}}">{{ sport.story_title}}</a></h2>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section><!-- End Culture Category Section -->

    <!-- ======= Business Category Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Business</h2>
          <div><a href="/" class="more">NewsEveryDay</a></div>
        </div>

        <div class="row">
          <div class="col-md-9 order-md-2">
            {% for business in business reversed %}
            <div class="d-lg-flex post-entry-2">
              <a href="/business/{{business.id}}" class="me-4 thumbnail d-inline-block mb-4 mb-lg-0">
                <img src="{% static 'assets/img/post-landscape-3.jpg' %}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">{{ business.category}}</span> <span class="mx-1">&bullet;</span> <span>{{ business.storydate_posted}}</span></div>
                <h3><a href="/business/{{business.id}}">{{ business.story_title}}</a></h3>
                <p>{{ business.story_body}}</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{{ business.image.url }}" alt="" class="img-fluid"></div>
                  <div class="name">
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="row">
              <div class="col-lg-4">
                {% for business in business reversed %}
                <div class="post-entry-1 border-bottom">
                  <a href="/business/{{business.id}}"><img src="{{ business.image.url }}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{ business.category}}</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="/business/{{business.id}}">{{ business.story_title}}</a></h2>
                  <span class="author mb-3 d-block">SomTochukwu</span>
                  <p class="mb-4 d-block">{{ business.story_body|truncatewords:20}}</p>
                </div>
                {% endfor %}
              {% for business in business reversed %}
              <div class="col-lg-8">
                <div class="post-entry-1">
                  <a href="/business/{{business.id}}"><img src="{{ business.image.url }}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{ business.category}}</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="">{{ business.story_title}}</a></h2>
                  <p class="mb-4 d-block">{{ business.story_body|truncatewords:20}}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% for business in business reversed %}
          <div class="col-md-3">
            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>{{ business.storydate_posted}}</span></div>
              <h2 class="mb-2"><a href="/business/{{business.id}}">{{ business.story_title}}</a></h2>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section><!-- End Business Category Section -->

    <!-- ======= Lifestyle Category Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Politics</h2>
          <div><a href="/" class="more">NewsEveryDay</a></div>
        </div>

        <div class="row g-5">
          <div class="col-lg-4">
            {% for politics in politics reversed %}
            <div class="post-entry-1 lg">
              <a href="/politics/{{politics.id}}"><img src="{% static 'assets/img/post-landscape-8.jpg' %}" alt="" class="img-fluid"></a>
              <div class="post-meta"><span class="date">{{ politics.category}}</span> <span class="mx-1">&bullet;</span> <span>{{ politics.storydate_posted}}</span></div>
              <h2><a href="/politics/{{politics.id}}">{{ politics.story_title}}</a></h2>
              <p class="mb-4 d-block">{{ politics.story_body|truncatewords:20}}</p>

              <div class="d-flex align-items-center author">
                <div class="photo"><img src="{{ politics.image.url }}" alt="" class="img-fluid"></div>
                <div class="name">
                </div>
              </div>
            </div>
            {% endfor %}
            {% for politics in politics reversed %}
            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">{{ politics.category}}</span> <span class="mx-1">&bullet;</span> <span>{{ politics.storydate_posted}}</span></div>
              <h2 class="mb-2"><a href="/politics/{{politics.id}}">{{ politics.story_title}}</a></h2>
            </div>
            {% endfor %}        
          </div>

          <div class="col-lg-8">
            <div class="row g-5">
              <div class="col-lg-4 border-start custom-border">
                {% for politics in politics reversed %}
                <div class="post-entry-1">
                  <a href="/politics/{{politics.id}}"><img src="{{ politics.image.url }}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{ politics.category}}</span> <span class="mx-1">&bullet;</span> <span>{{ politics.storydate_posted}}</span></div>
                  <h2><a href="/politics/{{politics.id}}">{{ politics.story_title}}</a></h2>
                </div>
                {% endfor %}               
              </div>
              <div class="col-lg-4">
                {% for politics in politics reversed %}
                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span class="date">{{ politics.category}}</span> <span class="mx-1">&bullet;</span> <span>{{ politics.storydate_posted}}</span></div>
                  <h2 class="mb-2"><a href="/politics/{{politics.id}}">{{ politics.story_title}}</a></h2>
                  <span class="author mb-3 d-block"></span>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </section><!-- End Lifestyle Category Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    

          <div class="col-lg-4">
            
              

          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>NewEveryDay</span></strong>. All Rights Reserved
            </div>

            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
              Designed by <a href="#">eyess46</a>
            </div>

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>